
#### `.gitignore`

Asegúrate de que tu `.gitignore` excluya archivos innecesarios como `__pycache__`, archivos de entorno, etc.:

```plaintext
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.log
*.sqlite3
*.db
*.tar.gz
*.zip
